.dark {
  font-size: 14px;
  color: #fff;
  font-family: "Ericsson Hilda", Helvetica, Arial, sans-serif;
  /* Better Font Rendering =========== */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* h5 {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-top: 24px;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
  scroll-margin: 72px; //24px + 48
}
 */
}
@font-face {
  font-family: "Ericsson Icons";
  src: url("./icons/ericsson-icons.eot?l4m137");
  src: url("./icons/ericsson-icons.eot?l4m137#iefix") format("embedded-opentype"), url("./icons/ericsson-icons.ttf?l4m137") format("truetype"), url("./icons/ericsson-icons.woff?l4m137") format("woff"), url("./icons/ericsson-icons.svg?l4m137#ericsson-icons") format("svg");
  font-style: normal;
}
.dark .icon-microwave::before {
  content: "\e9ce";
}
.dark .icon-wireline::before {
  content: "\e9cf";
}
.dark .icon-wireline-small::before {
  content: "\e9d0";
}
.dark .icon-switching::before {
  content: "\e9d1";
}
.dark .icon-spectrum::before {
  content: "\e9d2";
}
.dark .icon-satellite::before {
  content: "\e9d3";
}
.dark .icon-satellite-gateway::before {
  content: "\e9d4";
}
.dark .icon-radio-base-antenna::before {
  content: "\e9d5";
}
.dark .icon-node-network::before {
  content: "\e9d6";
}
.dark .icon-minihub::before {
  content: "\e9d7";
}
.dark .icon-microwave-small::before {
  content: "\e9d8";
}
.dark .icon-infrastructure::before {
  content: "\e9d9";
}
.dark .icon-infrastructure-small::before {
  content: "\e9da";
}
.dark .icon-hierarchy-chart::before {
  content: "\e9db";
}
.dark .icon-hardware-platform::before {
  content: "\e9dc";
}
.dark .icon-gateway-function::before {
  content: "\e9dd";
}
.dark .icon-gateway-function-small::before {
  content: "\e9de";
}
.dark .icon-fibre-hub::before {
  content: "\e9df";
}
.dark .icon-end-point::before {
  content: "\e9e0";
}
.dark .icon-database::before {
  content: "\e9e1";
}
.dark .icon-antenna-microwave::before {
  content: "\e9e2";
}
.dark .icon-paint::before {
  content: "\e9c8";
}
.dark .icon-step-forward::before {
  content: "\e9c9";
}
.dark .icon-step-back::before {
  content: "\e9ca";
}
.dark .icon-warning-circle::before {
  content: "\e9cb";
}
.dark .icon-info-solid::before {
  content: "\e9cc";
}
.dark .icon-mobile-devices::before {
  content: "\e9cd";
}
.dark .icon-manufacturing::before {
  content: "\e9c7";
}
.dark .icon-abs-brakes::before {
  content: "\e900";
}
.dark .icon-airbag::before {
  content: "\e901";
}
.dark .icon-alarm-level1::before {
  content: "\e902";
}
.dark .icon-alarm-level2::before {
  content: "\e903";
}
.dark .icon-alarm-level3::before {
  content: "\e904";
}
.dark .icon-alarm-level4::before {
  content: "\e905";
}
.dark .icon-alarm-level5::before {
  content: "\e906";
}
.dark .icon-alarm-level6::before {
  content: "\e907";
}
.dark .icon-antenna::before {
  content: "\e908";
}
.dark .icon-app-launcher::before {
  content: "\e909";
}
.dark .icon-arrow-down::before {
  content: "\e90a";
}
.dark .icon-arrow-left::before {
  content: "\e90b";
}
.dark .icon-arrow-right::before {
  content: "\e90c";
}
.dark .icon-arrow-rotate-horizontal::before {
  content: "\e90d";
}
.dark .icon-arrow-rotate-vertical::before {
  content: "\e90e";
}
.dark .icon-arrow-up::before {
  content: "\e90f";
}
.dark .icon-attach::before {
  content: "\e910";
}
.dark .icon-automotive-battery::before {
  content: "\e911";
}
.dark .icon-avatar::before {
  content: "\e912";
}
.dark .icon-battery-charging::before {
  content: "\e913";
}
.dark .icon-battery-empty::before {
  content: "\e914";
}
.dark .icon-battery-full::before {
  content: "\e915";
}
.dark .icon-blog::before {
  content: "\e916";
}
.dark .icon-bluetooth::before {
  content: "\e917";
}
.dark .icon-bookmark-solid::before {
  content: "\e918";
}
.dark .icon-bookmark::before {
  content: "\e919";
}
.dark .icon-brakes::before {
  content: "\e91a";
}
.dark .icon-bug::before {
  content: "\e91b";
}
.dark .icon-calendar::before {
  content: "\e91c";
}
.dark .icon-camera-cctv::before {
  content: "\e91d";
}
.dark .icon-camera-classic::before {
  content: "\e91e";
}
.dark .icon-camera-photo::before {
  content: "\e91f";
}
.dark .icon-check-small::before {
  content: "\e920";
}
.dark .icon-check::before {
  content: "\e921";
}
.dark .icon-chevron-down::before {
  content: "\e922";
}
.dark .icon-chevron-left::before {
  content: "\e923";
}
.dark .icon-chevron-right::before {
  content: "\e924";
}
.dark .icon-chevron-up::before {
  content: "\e925";
}
.dark .icon-circle-dashed::before {
  content: "\e926";
}
.dark .icon-circle::before {
  content: "\e927";
}
.dark .icon-cloud::before {
  content: "\e928";
}
.dark .icon-code::before {
  content: "\e929";
}
.dark .icon-copy::before {
  content: "\e92a";
}
.dark .icon-cpu::before {
  content: "\e92b";
}
.dark .icon-creditcard::before {
  content: "\e92c";
}
.dark .icon-crop::before {
  content: "\e92d";
}
.dark .icon-cross-small::before {
  content: "\e92e";
}
.dark .icon-cross::before {
  content: "\e92f";
}
.dark .icon-crown::before {
  content: "\e930";
}
.dark .icon-dashboard::before {
  content: "\e931";
}
.dark .icon-dial::before {
  content: "\e932";
}
.dark .icon-diamond::before {
  content: "\e933";
}
.dark .icon-document::before {
  content: "\e934";
}
.dark .icon-door::before {
  content: "\e935";
}
.dark .icon-download-save::before {
  content: "\e936";
}
.dark .icon-drag-handle::before {
  content: "\e937";
}
.dark .icon-duplicate::before {
  content: "\e938";
}
.dark .icon-econ::before {
  content: "\e939";
}
.dark .icon-edit::before {
  content: "\e93a";
}
.dark .icon-ellipsis::before {
  content: "\e93b";
}
.dark .icon-email::before {
  content: "\e93c";
}
.dark .icon-engine::before {
  content: "\e93d";
}
.dark .icon-eraser::before {
  content: "\e93e";
}
.dark .icon-eula::before {
  content: "\e93f";
}
.dark .icon-eye-solid::before {
  content: "\e940";
}
.dark .icon-eye::before {
  content: "\e941";
}
.dark .icon-favorite-solid::before {
  content: "\e942";
}
.dark .icon-favorite::before {
  content: "\e943";
}
.dark .icon-fika::before {
  content: "\e944";
}
.dark .icon-file::before {
  content: "\e945";
}
.dark .icon-filter::before {
  content: "\e946";
}
.dark .icon-flag::before {
  content: "\e947";
}
.dark .icon-floor::before {
  content: "\e948";
}
.dark .icon-flow::before {
  content: "\e949";
}
.dark .icon-folder::before {
  content: "\e94a";
}
.dark .icon-fuel::before {
  content: "\e94b";
}
.dark .icon-globe::before {
  content: "\e94c";
}
.dark .icon-graph-circle::before {
  content: "\e94d";
}
.dark .icon-graph-line::before {
  content: "\e94e";
}
.dark .icon-graph-plot::before {
  content: "\e94f";
}
.dark .icon-group::before {
  content: "\e950";
}
.dark .icon-heart-solid::before {
  content: "\e951";
}
.dark .icon-heart::before {
  content: "\e952";
}
.dark .icon-heatmap::before {
  content: "\e953";
}
.dark .icon-help::before {
  content: "\e954";
}
.dark .icon-home::before {
  content: "\e955";
}
.dark .icon-image::before {
  content: "\e956";
}
.dark .icon-info::before {
  content: "\e957";
}
.dark .icon-invoice::before {
  content: "\e958";
}
.dark .icon-language::before {
  content: "\e959";
}
.dark .icon-launch::before {
  content: "\e95a";
}
.dark .icon-layers::before {
  content: "\e95b";
}
.dark .icon-lightbulb::before {
  content: "\e95c";
}
.dark .icon-link::before {
  content: "\e95d";
}
.dark .icon-lock-locked::before {
  content: "\e95e";
}
.dark .icon-lock-unlocked::before {
  content: "\e95f";
}
.dark .icon-logout::before {
  content: "\e960";
}
.dark .icon-loudspeaker::before {
  content: "\e961";
}
.dark .icon-magnet::before {
  content: "\e962";
}
.dark .icon-manual::before {
  content: "\e963";
}
.dark .icon-map::before {
  content: "\e964";
}
.dark .icon-maximize::before {
  content: "\e965";
}
.dark .icon-medal::before {
  content: "\e966";
}
.dark .icon-message-contact-us::before {
  content: "\e967";
}
.dark .icon-message-double::before {
  content: "\e968";
}
.dark .icon-message-single::before {
  content: "\e969";
}
.dark .icon-message-smiley::before {
  content: "\e96a";
}
.dark .icon-mic-off::before {
  content: "\e96b";
}
.dark .icon-mic::before {
  content: "\e96c";
}
.dark .icon-minimize::before {
  content: "\e96d";
}
.dark .icon-minus-small::before {
  content: "\e96e";
}
.dark .icon-minus::before {
  content: "\e96f";
}
.dark .icon-money::before {
  content: "\e970";
}
.dark .icon-more::before {
  content: "\e971";
}
.dark .icon-nav::before {
  content: "\e972";
}
.dark .icon-network::before {
  content: "\e973";
}
.dark .icon-node::before {
  content: "\e974";
}
.dark .icon-notification-ring::before {
  content: "\e975";
}
.dark .icon-notification::before {
  content: "\e976";
}
.dark .icon-oil::before {
  content: "\e977";
}
.dark .icon-options::before {
  content: "\e978";
}
.dark .icon-phone-classic::before {
  content: "\e979";
}
.dark .icon-phone-cobra::before {
  content: "\e97a";
}
.dark .icon-phone-hangup::before {
  content: "\e97b";
}
.dark .icon-pin::before {
  content: "\e97c";
}
.dark .icon-plus-small::before {
  content: "\e97d";
}
.dark .icon-plus::before {
  content: "\e97e";
}
.dark .icon-polygon-dashed::before {
  content: "\e97f";
}
.dark .icon-polygon::before {
  content: "\e980";
}
.dark .icon-position::before {
  content: "\e981";
}
.dark .icon-profile::before {
  content: "\e982";
}
.dark .icon-projects::before {
  content: "\e983";
}
.dark .icon-redo::before {
  content: "\e984";
}
.dark .icon-reload::before {
  content: "\e985";
}
.dark .icon-resize-down::before {
  content: "\e986";
}
.dark .icon-resize-up::before {
  content: "\e987";
}
.dark .icon-restore::before {
  content: "\e988";
}
.dark .icon-room::before {
  content: "\e989";
}
.dark .icon-routing::before {
  content: "\e98a";
}
.dark .icon-rss::before {
  content: "\e98b";
}
.dark .icon-ruler::before {
  content: "\e98c";
}
.dark .icon-scan::before {
  content: "\e98d";
}
.dark .icon-search::before {
  content: "\e98e";
}
.dark .icon-send::before {
  content: "\e98f";
}
.dark .icon-server::before {
  content: "\e990";
}
.dark .icon-settings::before {
  content: "\e991";
}
.dark .icon-severity-cleared::before {
  content: "\e992";
}
.dark .icon-severity-critical::before {
  content: "\e993";
}
.dark .icon-severity-indeterminate::before {
  content: "\e994";
}
.dark .icon-severity-major::before {
  content: "\e995";
}
.dark .icon-severity-minor::before {
  content: "\e996";
}
.dark .icon-severity-warning::before {
  content: "\e997";
}
.dark .icon-shapes::before {
  content: "\e998";
}
.dark .icon-share::before {
  content: "\e999";
}
.dark .icon-shopping-cart::before {
  content: "\e99a";
}
.dark .icon-sidemenu-left-close::before {
  content: "\e99b";
}
.dark .icon-sidemenu-left-open::before {
  content: "\e99c";
}
.dark .icon-sidemenu-right-close::before {
  content: "\e99d";
}
.dark .icon-sidemenu-right-open::before {
  content: "\e99e";
}
.dark .icon-signal::before {
  content: "\e99f";
}
.dark .icon-simcard::before {
  content: "\e9a0";
}
.dark .icon-sizes::before {
  content: "\e9a1";
}
.dark .icon-sort-down::before {
  content: "\e9a3";
}
.dark .icon-sort-up::before {
  content: "\e9a2";
}
.dark .icon-sorting::before {
  content: "\e9a4";
}
.dark .icon-square-dashed::before {
  content: "\e9a5";
}
.dark .icon-square::before {
  content: "\e9a6";
}
.dark .icon-stroke-curved::before {
  content: "\e9a7";
}
.dark .icon-stroke-dashed::before {
  content: "\e9a8";
}
.dark .icon-stroke-straight::before {
  content: "\e9a9";
}
.dark .icon-subtitles::before {
  content: "\e9aa";
}
.dark .icon-table::before {
  content: "\e9ab";
}
.dark .icon-tasks::before {
  content: "\e9ac";
}
.dark .icon-terminal::before {
  content: "\e9ad";
}
.dark .icon-time::before {
  content: "\e9ae";
}
.dark .icon-traffic-lights::before {
  content: "\e9af";
}
.dark .icon-trashcan::before {
  content: "\e9b0";
}
.dark .icon-triangle-dashed::before {
  content: "\e9b1";
}
.dark .icon-triangle-warning::before {
  content: "\e9b2";
}
.dark .icon-triangle::before {
  content: "\e9b3";
}
.dark .icon-trophy::before {
  content: "\e9b4";
}
.dark .icon-trowel::before {
  content: "\e9b5";
}
.dark .icon-truck::before {
  content: "\e9b6";
}
.dark .icon-undo::before {
  content: "\e9b7";
}
.dark .icon-upload::before {
  content: "\e9b8";
}
.dark .icon-video-back::before {
  content: "\e9b9";
}
.dark .icon-video-forward::before {
  content: "\e9ba";
}
.dark .icon-video-pause::before {
  content: "\e9bb";
}
.dark .icon-video-play::before {
  content: "\e9bc";
}
.dark .icon-video-stop::before {
  content: "\e9bd";
}
.dark .icon-view-list::before {
  content: "\e9be";
}
.dark .icon-view-tiles::before {
  content: "\e9bf";
}
.dark .icon-volume-high::before {
  content: "\e9c0";
}
.dark .icon-volume-low::before {
  content: "\e9c1";
}
.dark .icon-volume-mute::before {
  content: "\e9c2";
}
.dark .icon-washer-fluid::before {
  content: "\e9c3";
}
.dark .icon-wifi::before {
  content: "\e9c4";
}
.dark .icon-zoom-in::before {
  content: "\e9c5";
}
.dark .icon-zoom-out::before {
  content: "\e9c6";
}
.dark .icon-alarm-off::before {
  content: "\e9e3";
}
.dark .icon-alarm-on::before {
  content: "\e9e4";
}
.dark .icon-alarm::before {
  content: "\e9e5";
}
.dark .icon-bank::before {
  content: "\e9e6";
}
.dark .icon-bar-code::before {
  content: "\e9e7";
}
.dark .icon-block::before {
  content: "\e9e8";
}
.dark .icon-calculator::before {
  content: "\e9e9";
}
.dark .icon-calendar-off::before {
  content: "\e9ea";
}
.dark .icon-collapse-vertical::before {
  content: "\e9eb";
}
.dark .icon-collapse-all::before {
  content: "\e9eb";
}
.dark .icon-compare::before {
  content: "\e9ec";
}
.dark .icon-diagnose::before {
  content: "\e9ed";
}
.dark .icon-expand-vertical::before {
  content: "\e9ee";
}
.dark .icon-expand-all::before {
  content: "\e9ee";
}
.dark .icon-feedback::before {
  content: "\e9ef";
}
.dark .icon-file-add::before {
  content: "\e9f0";
}
.dark .icon-file-approved::before {
  content: "\e9f1";
}
.dark .icon-filter-clear::before {
  content: "\e9f2";
}
.dark .icon-filter-off::before {
  content: "\e9f3";
}
.dark .icon-highest-value::before {
  content: "\e9f4";
}
.dark .icon-keyboard::before {
  content: "\e9f5";
}
.dark .icon-list::before {
  content: "\e9f6";
}
.dark .icon-login::before {
  content: "\e9f7";
}
.dark .icon-lowest-value::before {
  content: "\e9f8";
}
.dark .icon-map-directions::before {
  content: "\e9f9";
}
.dark .icon-map-important-building::before {
  content: "\e9fa";
}
.dark .icon-map-location-filled::before {
  content: "\e9fb";
}
.dark .icon-map-location::before {
  content: "\e9fc";
}
.dark .icon-map-navigation::before {
  content: "\e9fd";
}
.dark .icon-map-terrain::before {
  content: "\e9fe";
}
.dark .icon-scan-qr-code::before {
  content: "\e9ff";
}
.dark .icon-mobile::before {
  content: "\ea00";
}
.dark .icon-money-transaction::before {
  content: "\ea01";
}
.dark .icon-notification-off::before {
  content: "\ea02";
}
.dark .icon-pin-solid::before {
  content: "\ea03";
}
.dark .icon-ping-ip::before {
  content: "\ea04";
}
.dark .icon-print::before {
  content: "\ea05";
}
.dark .icon-qr-code::before {
  content: "\ea06";
}
.dark .icon-reset-password::before {
  content: "\ea07";
}
.dark .icon-robot-head::before {
  content: "\ea08";
}
.dark .icon-save::before {
  content: "\ea09";
}
.dark .icon-scan-bar-code::before {
  content: "\ea0a";
}
.dark .icon-warehouse::before {
  content: "\ea0b";
}
.dark .icon-under-construction::before {
  content: "\ea0c";
}
.dark .icon-unlink::before {
  content: "\ea0d";
}
.dark .icon-vehicle-bus::before {
  content: "\ea0e";
}
.dark .icon-vehicle-car::before {
  content: "\ea0f";
}
.dark .icon-vehicle-train::before {
  content: "\ea10";
}
.dark .icon-vehicle-truck::before {
  content: "\ea11";
}
.dark .icon-versions::before {
  content: "\ea12";
}
.dark .icon-weather-fog::before {
  content: "\ea13";
}
.dark .icon-weather-humidity::before {
  content: "\ea14";
}
.dark .icon-weather-precipitation::before {
  content: "\ea15";
}
.dark .icon-weather-rain::before {
  content: "\ea16";
}
.dark .icon-weather-snow::before {
  content: "\ea17";
}
.dark .icon-weather-storm::before {
  content: "\ea18";
}
.dark .icon-weather-sun-cloud::before {
  content: "\ea19";
}
.dark .icon-weather-sun::before {
  content: "\ea1a";
}
.dark .icon-weather-wind::before {
  content: "\ea1b";
}
.dark .icon-weather-windforce::before {
  content: "\ea1c";
}
.dark .icon-code-scan::before {
  content: "\ea1d";
}
.dark .icon-wifi-modem::before {
  content: "\ea1e";
}
.dark .icon-core::before {
  content: "\ea1f";
}
.dark .icon-email-open::before {
  content: "\ea20";
}
.dark .icon-failed::before {
  content: "\ea21";
}
.dark .icon-invisible::before {
  content: "\ea22";
}
.dark .icon-expand::before {
  content: "\ea23";
}
.dark .icon-lightbulb-off::before {
  content: "\ea24";
}
.dark .icon-network-element::before {
  content: "\ea25";
}
.dark .icon-select::before {
  content: "\ea26";
}
.dark .icon-success::before {
  content: "\ea27";
}
.dark .icon-change-user::before {
  content: "\ea28";
}
.dark .icon-dialpad::before {
  content: "\ea29";
}
.dark .icon-fault::before {
  content: "\ea2a";
}
.dark .icon-flag-solid::before {
  content: "\ea2b";
}
.dark .icon-flash::before {
  content: "\ea2c";
}
.dark .icon-forward::before {
  content: "\ea2d";
}
.dark .icon-plane-landing::before {
  content: "\ea2e";
}
.dark .icon-plane-take-off::before {
  content: "\ea2f";
}
.dark .icon-podium::before {
  content: "\ea30";
}
.dark .icon-reply-all::before {
  content: "\ea31";
}
.dark .icon-reply::before {
  content: "\ea32";
}
.dark .icon-swap::before {
  content: "\ea33";
}
.dark .icon-thumb-down::before {
  content: "\ea34";
}
.dark .icon-thumb-up::before {
  content: "\ea35";
}
.dark .icon-tree-subcategories::before {
  content: "\ea36";
}
.dark .icon-triangle-solid::before {
  content: "\ea37";
}
.dark .icon-walkie-talkie::before {
  content: "\ea38";
}
.dark .icon-counter-summary::before {
  content: "\ea39";
}
.dark .icon-electric-charging-station::before {
  content: "\ea3a";
}
.dark .icon-enterprises::before {
  content: "\ea3b";
}
.dark .icon-eSIM::before {
  content: "\ea3c";
}
.dark .icon-iSIM::before {
  content: "\ea3d";
}
.dark .icon-laptop-devices::before {
  content: "\ea3e";
}
.dark .icon-no-invoice::before {
  content: "\ea3f";
}
.dark .icon-no-maintenance::before {
  content: "\ea40";
}
.dark .icon-no-task::before {
  content: "\ea41";
}
.dark .icon-request-access::before {
  content: "\ea42";
}
.dark .icon-robotic-arm::before {
  content: "\ea43";
}
.dark .icon-screen-desktop::before {
  content: "\ea44";
}
.dark .icon-smartwatch-devices::before {
  content: "\ea45";
}
.dark .icon-table-columns::before {
  content: "\ea46";
}
.dark .icon-table-compact-row::before {
  content: "\ea47";
}
.dark .icon-table-default-row::before {
  content: "\ea48";
}
.dark .icon-table-row-group::before {
  content: "\ea49";
}
.dark .icon-table-tiny-row::before {
  content: "\ea4a";
}
.dark .icon-tablet-devices::before {
  content: "\ea4b";
}
.dark .icon-vehicle-parking::before {
  content: "\ea4c";
}
.dark .icon-profile-suspended::before {
  content: "\ea4d";
}
.dark .icon-font-bold::before {
  content: "\ea4e";
}
.dark .icon-font-italic::before {
  content: "\ea4f";
}
.dark .icon-font-strikethrough::before {
  content: "\ea50";
}
.dark .icon-font-underline::before {
  content: "\ea51";
}
.dark .icon-weather-moon::before {
  content: "\ea52";
}
.dark .icon-text-bulletpoints::before {
  content: "\ea53";
}
.dark .icon-text-numbering::before {
  content: "\ea54";
}
.dark .icon-emotion-disappointed::before {
  content: "\ea55";
}
.dark .icon-emotion-excellent::before {
  content: "\ea56";
}
.dark .icon-emotion-happy::before {
  content: "\ea57";
}
.dark .icon-emotion-neutral::before {
  content: "\ea58";
}
.dark .icon-emotion-sad::before {
  content: "\ea59";
}
.dark .icon-brain:before {
  content: "\ea5a";
}
.dark .icon-degree:before {
  content: "\ea5b";
}
.dark .icon-certificate:before {
  content: "\ea5c";
}
.dark .icon-helpdesk:before {
  content: "\ea5d";
}
.dark .icon-excel:before {
  content: "\ea5e";
}
.dark .icon-powerpoint:before {
  content: "\ea5f";
}
.dark .icon-word:before {
  content: "\ea60";
}
.dark .icon-export:before {
  content: "\ea61";
}
.dark .icon-3d-object-move:before {
  content: "\ea62";
}
.dark .icon-3d-object:before {
  content: "\ea63";
}
.dark .icon-add-backlog:before {
  content: "\ea64";
}
.dark .icon-anchor-waypoint-add:before {
  content: "\ea65";
}
.dark .icon-anchor-waypoint-insert:before {
  content: "\ea66";
}
.dark .icon-anchor-waypoint-move:before {
  content: "\ea67";
}
.dark .icon-anchor-waypoint-remove:before {
  content: "\ea68";
}
.dark .icon-ascend-up:before {
  content: "\ea69";
}
.dark .icon-change-battery:before {
  content: "\ea6a";
}
.dark .icon-cloud-sync:before {
  content: "\ea6b";
}
.dark .icon-color-palette:before {
  content: "\ea6c";
}
.dark .icon-contour-map-topography:before {
  content: "\ea6d";
}
.dark .icon-descend-down:before {
  content: "\ea6e";
}
.dark .icon-favorite-half:before {
  content: "\ea6f";
}
.dark .icon-folder-3d:before {
  content: "\ea70";
}
.dark .icon-fuel-compressed-natural-gas:before {
  content: "\ea71";
}
.dark .icon-hologram-off:before {
  content: "\ea73";
}
.dark .icon-hologram:before {
  content: "\ea74";
}
.dark .icon-image-fill-frame:before {
  content: "\ea75";
}
.dark .icon-image-fit-frame:before {
  content: "\ea76";
}
.dark .icon-land-drone:before {
  content: "\ea77";
}
.dark .icon-picture-in-picture:before {
  content: "\ea78";
}
.dark .icon-plane-top:before {
  content: "\ea79";
}
.dark .icon-render-flat:before {
  content: "\ea7a";
}
.dark .icon-render-material:before {
  content: "\ea7b";
}
.dark .icon-render-wireframe:before {
  content: "\ea7c";
}
.dark .icon-restricted:before {
  content: "\ea7d";
}
.dark .icon-return-home-drone:before {
  content: "\ea7e";
}
.dark .icon-split-horizontal:before {
  content: "\ea7f";
}
.dark .icon-split-vertical:before {
  content: "\ea80";
}
.dark .icon-victory-hand:before {
  content: "\ea81";
}
.dark .icon-app-directory:before {
  content: "\ea82";
}
.dark .icon-ai-avatar:before {
  content: "\ea83";
}
.dark .icon-message-history:before {
  content: "\ea84";
}
.dark .icon-ai-chat-history:before {
  content: "\ea84";
}
.dark .icon-ai-edit:before {
  content: "\ea85";
}
.dark .icon-ai-filter:before {
  content: "\ea86";
}
.dark .icon-ai-generate-diagram:before {
  content: "\ea87";
}
.dark .icon-ai-generate-image:before {
  content: "\ea88";
}
.dark .icon-ai-label:before {
  content: "\ea89";
}
.dark .icon-ai-negative-feedback:before {
  content: "\ea8a";
}
.dark .icon-ai-positive-feedback:before {
  content: "\ea8b";
}
.dark .icon-ai-search:before {
  content: "\ea8c";
}
.dark .icon-ai-suggestion:before {
  content: "\ea8d";
}
.dark .icon-ai-view:before {
  content: "\ea8e";
}
.dark .icon-ai-voice-activation:before {
  content: "\ea8f";
}
.dark .icon-album:before {
  content: "\ea90";
}
.dark .icon-anchor:before {
  content: "\ea91";
}
.dark .icon-ar:before {
  content: "\ea92";
}
.dark .icon-archive:before {
  content: "\ea93";
}
.dark .icon-arrow-down-left:before {
  content: "\ea94";
}
.dark .icon-arrow-down-right:before {
  content: "\ea95";
}
.dark .icon-arrow-up-left:before {
  content: "\ea96";
}
.dark .icon-arrow-up-right:before {
  content: "\ea97";
}
.dark .icon-audio:before {
  content: "\ea98";
}
.dark .icon-bill:before {
  content: "\ea99";
}
.dark .icon-card:before {
  content: "\ea9a";
}
.dark .icon-city:before {
  content: "\ea9b";
}
.dark .icon-compass:before {
  content: "\ea9c";
}
.dark .icon-controller:before {
  content: "\ea9d";
}
.dark .icon-cut:before {
  content: "\ea9e";
}
.dark .icon-2d-plane:before {
  content: "\ea9f";
}
.dark .icon-decline:before {
  content: "\eaa0";
}
.dark .icon-distance:before {
  content: "\eaa1";
}
.dark .icon-ericsson-employee:before {
  content: "\eaa2";
}
.dark .icon-file-history:before {
  content: "\eaa3";
}
.dark .icon-fingerprint:before {
  content: "\eaa4";
}
.dark .icon-firewall:before {
  content: "\eaa5";
}
.dark .icon-flashlight-off:before {
  content: "\eaa6";
}
.dark .icon-flashlight:before {
  content: "\eaa7";
}
.dark .icon-folder-opened:before {
  content: "\eaa8";
}
.dark .icon-format-pdf:before {
  content: "\eaa9";
}
.dark .icon-format-zip:before {
  content: "\eaaa";
}
.dark .icon-gift:before {
  content: "\eaab";
}
.dark .icon-grow:before {
  content: "\eaac";
}
.dark .icon-growth:before {
  content: "\eaad";
}
.dark .icon-headphone:before {
  content: "\eaae";
}
.dark .icon-headset:before {
  content: "\eaaf";
}
.dark .icon-history:before {
  content: "\eab0";
}
.dark .icon-id-badge:before {
  content: "\eab1";
}
.dark .icon-knob:before {
  content: "\eab2";
}
.dark .icon-label-important:before {
  content: "\eab3";
}
.dark .icon-label:before {
  content: "\eab4";
}
.dark .icon-move-down:before {
  content: "\eab5";
}
.dark .icon-move-up:before {
  content: "\eab6";
}
.dark .icon-music:before {
  content: "\eab7";
}
.dark .icon-panorama:before {
  content: "\eab8";
}
.dark .icon-paste:before {
  content: "\eab9";
}
.dark .icon-personal-data:before {
  content: "\eaba";
}
.dark .icon-phishing:before {
  content: "\eabb";
}
.dark .icon-prism:before {
  content: "\eabc";
}
.dark .icon-recycle:before {
  content: "\eabd";
}
.dark .icon-rocket-launch:before {
  content: "\eabe";
}
.dark .icon-rocket:before {
  content: "\eabf";
}
.dark .icon-safe:before {
  content: "\eac0";
}
.dark .icon-shopping-cart-full:before {
  content: "\eac1";
}
.dark .icon-speaker:before {
  content: "\eac2";
}
.dark .icon-stamp:before {
  content: "\eac3";
}
.dark .icon-store:before {
  content: "\eac4";
}
.dark .icon-strategy:before {
  content: "\eac5";
}
.dark .icon-support:before {
  content: "\eac6";
}
.dark .icon-tags:before {
  content: "\eac7";
}
.dark .icon-target:before {
  content: "\eac8";
}
.dark .icon-temperature:before {
  content: "\eac9";
}
.dark .icon-ticket:before {
  content: "\eaca";
}
.dark .icon-video:before {
  content: "\eacb";
}
.dark .icon-vr:before {
  content: "\eacc";
}
.dark .icon-workshop:before {
  content: "\eacd";
}
.dark .icon-workspace:before {
  content: "\eace";
}
.dark .icon-3d-space:before {
  content: "\eacf";
}
.dark .icon-relationship:before {
  content: "\ead0";
}
.dark .icon-book:before {
  content: "\ead1";
}
.dark .icon-bluetooth-off:before {
  content: "\ead2";
}
.dark .icon-collapse-horizontal:before {
  content: "\ead3";
}
.dark .icon-expand-horizontal:before {
  content: "\ead4";
}
.dark .icon-file-undo:before {
  content: "\ead5";
}
.dark .icon-filter-check:before {
  content: "\ead6";
}
.dark .icon-info-ai:before {
  content: "\ead7";
}
.dark .icon-money-sek:before {
  content: "\ead8";
}
.dark .icon-mouse:before {
  content: "\ead9";
}
.dark .icon-node-controller:before {
  content: "\eada";
}
.dark .icon-turn-on-off:before {
  content: "\eadb";
}
.dark .icon-request:before {
  content: "\eadc";
}
.dark .icon-signal-off:before {
  content: "\eadd";
}
.dark .icon-volte:before {
  content: "\eade";
}
.dark .icon-vonr:before {
  content: "\eadf";
}
.dark .icon-wifi-off:before {
  content: "\eae0";
}
.dark .icon {
  font-family: "Ericsson Icons" !important;
  vertical-align: middle;
  speak: none;
  font-style: normal;
}
.dark .icon.small {
  font-size: 12px;
}
.dark .icon.align-baseline {
  vertical-align: baseline;
}
.dark .icon.ai-fill-color::before {
  color: transparent;
  background: linear-gradient(45deg, #1174e6, #976CF4);
  background-clip: text;
}
.dark p {
  margin-top: 0;
  line-height: 1.5em;
  color: #fff;
}
.dark p.subtle {
  color: #888;
}
.dark p.intro-text {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 24px;
}
.dark .section {
  color: #888;
  padding: 8px 0;
}
.dark .section.no-padding-top {
  padding-top: 0;
}
.dark .section.full-opacity {
  opacity: 1;
}
.dark .section.purple {
  color: #8e45b0;
}
.dark a {
  color: #008cff;
  cursor: pointer;
  text-decoration: none;
}
.dark a:not([attribute]):hover {
  text-decoration: underline;
}
.dark a.not-link {
  color: inherit;
}
.dark a.not-link:hover {
  color: inherit;
}
.dark a.subtle-link {
  color: #fff;
  border-bottom: 1px dashed #fff;
}
.dark a.subtle-link:hover {
  border-bottom: 1px solid #0077db;
  text-decoration: none;
}
.dark a:focus {
  outline: 1px solid #8e45b0;
  outline-offset: 1px;
}
.dark ol,
.dark ul {
  margin-top: 0;
  color: #fff;
}
.dark ol li,
.dark ul li {
  padding: 0 0 8px;
}
.dark .text-sm {
  font-size: 12px;
}
.dark .text-lg {
  font-size: 16px;
}
.dark .text-xl {
  font-size: 28px;
}
.dark .color-green {
  color: #288964;
}
.dark .color-blue {
  color: #0077db;
}
.dark .color-link-blue {
  color: #008cff;
}
.dark .color-red {
  color: #dc2d37;
}
.dark .color-yellow {
  color: #FAD22D;
}
.dark .color-orange {
  color: #e66e19;
}
.dark .color-gray {
  color: #adadad;
}
.dark .color-purple {
  color: #8e45b0;
}
.dark .color-text {
  color: #fff;
}
.dark .color-black {
  color: #0c0c0c;
}
.dark .color-white {
  color: #fff;
}
.dark .truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@font-face {
  font-family: "Ericsson Hilda";
  src: url("./hilda/ericsson-hilda-light.eot");
  src: local("Ericsson Hilda Light"), local("ericsson-hilda-light"), url("./hilda/ericsson-hilda-light.eot?#iefix") format("embedded-opentype"), url("./hilda/ericsson-hilda-light.woff2") format("woff2"), url("./hilda/ericsson-hilda-light.woff") format("woff"), url("./hilda/ericsson-hilda-light.ttf") format("truetype"), url("./hilda/ericsson-hilda-light.svg#ericsson-hilda-light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Ericsson Hilda";
  src: url("./hilda/ericsson-hilda-regular.eot");
  src: local("Ericsson Hilda Regular"), local("ericsson-hilda-regular"), url("./hilda/ericsson-hilda-regular.eot?#iefix") format("embedded-opentype"), url("./hilda/ericsson-hilda-regular.woff2") format("woff2"), url("./hilda/ericsson-hilda-regular.woff") format("woff"), url("./hilda/ericsson-hilda-regular.ttf") format("truetype"), url("./hilda/ericsson-hilda-regular.svg#ericsson-hilda-regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ericsson Hilda";
  src: url("./hilda/ericsson-hilda-medium.eot");
  src: local("Ericsson Hilda Medium"), local("ericsson-hilda-medium"), url("./hilda/ericsson-hilda-medium.eot?#iefix") format("embedded-opentype"), url("./hilda/ericsson-hilda-medium.woff2") format("woff2"), url("./hilda/ericsson-hilda-medium.woff") format("woff"), url("./hilda/ericsson-hilda-medium.ttf") format("truetype"), url("./hilda/ericsson-hilda-medium.svg#ericsson-hilda-medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Ericsson Hilda";
  src: url("./hilda/ericsson-hilda-bold.eot");
  src: local("Ericsson Hilda Bold"), local("ericsson-hilda-bold"), url("./hilda/ericsson-hilda-bold.eot?#iefix") format("embedded-opentype"), url("./hilda/ericsson-hilda-bold.woff2") format("woff2"), url("./hilda/ericsson-hilda-bold.woff") format("woff"), url("./hilda/ericsson-hilda-bold.ttf") format("truetype"), url("./hilda/ericsson-hilda-bold.svg#ericsson-hilda-bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Ericsson Hilda Mono";
  src: url("./hilda/ericsson-hilda-mono-light.eot");
  src: local("Ericsson Hilda Mono Light"), local("ericsson-hilda-mono-light"), url("./hilda/ericsson-hilda-mono-light.eot?#iefix") format("embedded-opentype"), url("./hilda/ericsson-hilda-mono-light.woff2") format("woff2"), url("./hilda/ericsson-hilda-mono-light.woff") format("woff"), url("./hilda/ericsson-hilda-mono-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Ericsson Hilda Mono";
  src: url("./hilda/ericsson-hilda-mono-regular.eot");
  src: local("Ericsson Hilda Mono Regular"), local("ericsson-hilda-mono-regular"), url("./hilda/ericsson-hilda-mono-regular.eot?#iefix") format("embedded-opentype"), url("./hilda/ericsson-hilda-mono-regular.woff2") format("woff2"), url("./hilda/ericsson-hilda-mono-regular.woff") format("woff"), url("./hilda/ericsson-hilda-mono-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ericsson Hilda Mono";
  src: url("./hilda/ericsson-hilda-mono-light.eot");
  src: local("Ericsson Hilda Mono Medium"), local("ericsson-hilda-mono-medium"), url("./hilda/ericsson-hilda-mono-medium.eot?#iefix") format("embedded-opentype"), url("./hilda/ericsson-hilda-mono-medium.woff2") format("woff2"), url("./hilda/ericsson-hilda-mono-medium.woff") format("woff"), url("./hilda/ericsson-hilda-mono-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Ericsson Hilda Mono";
  src: url("./hilda/ericsson-hilda-mono-bold.eot");
  src: local("Ericsson Hilda Mono Bold"), local("ericsson-hilda-mono-bold"), url("./hilda/ericsson-hilda-mono-bold.eot?#iefix") format("embedded-opentype"), url("./hilda/ericsson-hilda-mono-bold.woff2") format("woff2"), url("./hilda/ericsson-hilda-mono-bold.woff") format("woff"), url("./hilda/ericsson-hilda-mono-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.dark h1 {
  font-size: 40px;
  font-weight: 200;
  display: block;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  scroll-margin: 72px;
}
.dark h2 {
  font-size: 30px;
  line-height: 1;
  font-weight: 200;
  display: block;
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 0;
  margin-right: 0;
  scroll-margin: 80px;
}
.dark h3 {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  scroll-margin: 72px;
}
.dark h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  display: block;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  scroll-margin: 72px;
}
